.App {
  text-align: center;
}

#ufoCanvas {
  border: 1px solid black;
  margin: 0 auto;
  display: block;

  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: top center;
}
